
@{
    ViewBag.Title = "Покупка книги";
}

<div>
    <h3>Оформление покупки</h3>
    <form method="post">
        <input type="hidden" value="@ViewBag.BookId" name="BookId" />
        <table>
            <tr>
                <td><p>Введите своё имя</p></td>
                <td><input type="text" name="Person" /></td>
            </tr>
            <tr>
                <td>Введите адресс: </td>
                <td><input type="text" name="Adress" /></td>
            </tr>
            <tr><td><input type="submit" value="Отправить" /></td><td></td></tr>
        </table>
    </form>
</div>

